p{color: red;}
span{font-size: 50px;font-family: Arial, Helvetica, sans-serif;}
div{background-color: green;border: 20px solid yellow;border-radius: 6px;}
.primero{color: red;}
.segundo{color: red;background-color: yellow;}