body{font-family: sans-serif;}
.biografia{ display: inline-block;
    width: 65%;; font-size: 14px; line-height: 1.6;
}
.resumen{display: inline-block;vertical-align: top;}
.tabla-resumen{border: 1px solid black;background-color: honeydew;}
.tabla-resumen thead th{background-color: lightblue;padding-top: 10px;padding-bottom: 10px; }
.tabla-resumen tbody tr:first-child{text-align: center;}